
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #16d5c5;
}

.header-admin {
    width: 100%;
    height: 100px;
    background-color: #f4f4f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2a3843;
    position: top; 
    z-index: 1;
}

.header-admin .ictlogo {
    width: 250px;
}

.login-container {
    margin: 5rem;
    padding: 5rem;
}

.login-box{
    width: 30%;
    height: 50%;
    background-color: #E5FDD1;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 2rem;
}

.dash-body {
    height: calc(100%-100px);
}

.font-link{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E7F2F8;
}

.header-main{
    background: rgb(151,171,255);
    background: linear-gradient(35deg, rgb(203, 213, 255) 79%, rgb(192, 204, 239) 100%);;
    max-height: 100px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.header-main img{
    width: 260px;
} 

.navlink{
    margin-left: 25px;
    margin-right: 25px;
    color:#050A30;
}

.coursebutton{
    margin-left: 25px;
    margin-right: 65px;
    border-radius: 50px;
    background-color:#f09d21;
    color: #050A30;
}

.coursebutton:hover{
    background-color: white;
    color: #050A30;
}

.sidebtn{
    color: #050A30;
    padding-top: 10px;
    width: 220px;
}

.sidepane{
    background: rgb(151,171,255);
    background: linear-gradient(150deg, rgba(151,171,255,1) 35%, rgba(18,53,151,1) 90%);
    z-index: 0;
}

.sidepane ul{
    list-style: none;
    width: 100%;
}

.sidepane ul li{
    width: 100%;
    color:#050A30;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
}

.share p, .leaders p, .train p,.govern p, .partner p,.project p,.trainings p,.govern p,.partner p{
    text-align: justify;
    padding-left: 55px;
    padding-right: 55px;
}

.share img,.leaders img,.trainings img,.govern img,.partner img{
    width: 350px;
}

.card-custom{
    min-height: 150px;
}

.card{
    max-width: 540px;
}

/* .share{
    scroll-snap-type:y mandatory;
} */


/* Vijay Style */

.header-admin {
    width: 100%;
    height: 100px;
    background: rgb(129,148,144);
    background: rgb(141,184,138);
    background: linear-gradient(157deg, rgba(141,184,138,1) 0%, rgba(86,247,232,1) 100%);
    color: #000000;
    font-weight: bold;
    font-size: large;
    position: top; 
    z-index: 1;
}

.header-admin .ictlogo {
    width: 250px;
}

.login-container {
    margin: 5rem;
    padding: 5rem;
}

.login-box{
    width: 30%;
    height: 50%;
    background-color: #E5FDD1;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 2rem;
}

.dash-body {
    height: calc(100%-100px);
}


.side-pane {
    display: flex;
    flex-direction: row;
    flex-flow: row;      
    background: rgb(141,184,138);
    background: linear-gradient(180deg, rgba(141,184,138,1) 0%, rgba(86,247,232,1) 100%);
    z-index: 0;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.side-pane h5 {
    font-size: medium;
}

.side-pane ul {
    list-style: none;
    margin-top: 5px;
    height: calc(100vh - 100px);  
}

.side-pane .side-button {
    width: 200px;
    border-radius: 4rem;   
    color: #000000;
}

.sid-epane .side-navitem li {
    background-color: #A4E5E0;
    padding: 8px;
    border-radius: 3rem;
}

.side-pane .side-navitem {
    text-decoration: none;
    margin: auto;
}

.side-pane .side-button:hover{
    cursor: pointer;
}

.logout-button {
    border-radius: 5rem;
    width: 200px;
  }
  

/* anooj's css */

.footer {
    position: absolute;
    background-color: rgba(20, 71, 95, 0.582);
    font-size: small;
    padding: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
       
  }
  
  .footer p{
    line-height: 0.5;
  }
  
  .image-div img{
    max-width: 650px;
  }
